*{
    --primary-color:#01126D;
    background-color: var(--primary-color);
font-family: 'Poppins';
}


.primary-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0px;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

span{
    font-size: 13px;
}

.primary-button{
    margin-left: 10px;
    padding: 8px 25px;
    border: none;
    border-radius: 3px;
    background-color: white;
    color: blue;
    font-weight: bold;
    font-size: 12px;
}

.content-container{
    width: 700px;
}

.login-box-container{
    position: relative;
    height: 500px;
    margin-top: 40px;
    /* bottom: auto;
    top: auto; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form-box{
    height: 400px;
    background-color: white;
    position: absolute;
    right: 0;
    width: 300px;
    border-radius: 2px;
    padding: 0px 20px;
}

.razorpay-content-box{
    margin: 20px 0px;
    border-radius: 5px;
    width: 100%;
    padding: 20px;
    position: absolute;
}

.razorpay-content-box,.razorpay-content-box *{
    background-color: #F9FBFE;
}

.razorpay-content-inner-box{
    width: 300px;
    height: 300px;
}


.login-form-box *{
    background-color: white;
}

.login-form-box > span{
    color: grey;
    font-size: 11px;
}

.login-form-box > input{
    padding: 5px 10px;
    border: none;
    background-color: #FCFCFE;
    border-bottom: grey solid 1px;
    width: 100%;
    margin-top: 10px;
}
.login-form-box > input:focus{
    border-bottom-color: var(--primary-color);
    outline: none;
}


.submit-button{
    background-color: #2B83EA;
    border-radius: 5px;
    color: white;
    width: 100%;
    border: none;
    margin-top: 20px;
    padding: 8px 0px;
    cursor: pointer;
}